@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body{
    background: rgb(37,37,37);
background: linear-gradient(135deg, rgba(37,37,37,1) 03%, rgba(56,56,114,1) 99%);
}

.navbar-brand{
    color: #f3f1f1!important;
}

.my-info{
    padding: 2rem 5rem;
}

.send{
    background: #f3f1f1;
    color: #252525;
}

i{
    color: #ffffff;
  }

.success{
    color: #383872;
}

.send:hover,.send:active ,.send::after, .btn:focus{
    background:  #ccc;
    color: #252525;
    transition: .5s;
}

.my-info h2,h4{
    color: #f3f1f1;
}

/* Styling for table header */
thead {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  /* Styling for table rows on hover */
  tr:hover {
    color: #fff;
  }
  
  /* Styling for alternating rows */
  tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .close > span{
    color:#252525
  }

  @media screen and (max-width:769px){
  
    footer{
      font-size: 13px;
      font-weight: normal;
      letter-spacing: 3px;
  }
  }